/* Police/Font principale */
@font-face {
  src: url('/assets/fonts/batmfa__.ttf') format('truetype');
  font-family: 'BatmanForeverFont';
}

/* Police/Font secondaire */
@font-face {
  src: url('/assets/fonts/Quantico-Regular.ttf') format('truetype');
  font-family: 'Quantico';
}

/* PALETTE PERSONNALISÉE (OVERRIDE BOOTSTRAP)*/
:root {
  /* Couleur blue foncé */
  --bs-body-bg: #242424;

  /* Couleur blue semi foncé */
  --bs-secondary-bg: #282e3c;

  /* Couleur blue semi clair */
  --bs-secondary: #505c7c;
  --bs-secondary-rgb: rgb(80, 92, 124);

  /* Couleur gris du texte de base */
  --bs-body-color: #b4b4b4;
  --bs-body-color-rgb: rgb(180, 180, 180);

  /* Couleur jaune d'accentuation principale */
  --bs-warning: #fdff00;
  --bs-warning-rgb: rgb(253, 255, 0);

  /* Couleur jaune d'accentuation secondaire */
  --bs-primary: #988829;
  --bs-primary-rgb: rgb(152, 136, 41);
}

body {
  font-family: 'BatmanForeverFont', sans-serif;
  background-color: var(--bs-body-bg);
  color: var(--bs-warning);
  overflow: scroll;
}

/* Grid.css */
#hud-grid {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  padding: 20px;
}

/* Sections */
.hud-section {
  background-color: var(--bs-secondary-bg);
  padding: 15px;
  border-radius: 12px;
  display: grid;
  grid-template-rows: auto repeat(6, minmax(60px, auto));
  gap: 12px;
  box-shadow: 0 0 10px var(--bs-secondary);
}

/* Titres */
.module-title {
  font-size: 1.3rem;
  text-align: center;
  color: var(--bs-warning);
  text-shadow: 0 0 8px var(--bs-primary);
}

.placeholder {
  border: 2px inset var(--bs-secondary);
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  font-size: 0.9rem;
  color: var(--color-primary-accent);
  background-color: var(--bs-body-bg);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Boutons */
button,
.btn {
  background-color: var(--bs-primary);
  border: none;
  color: var(--bs-body-bg);
  transition: 0.25s ease;
}

button:hover,
.btn:hover {
  background-color: var(--bs-warning);
  color: var(--bs-body-bg);
  box-shadow: 0 0 15px var(--bs-primary);
}

/* 2 rangées intéractives */
.toggle-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  background-color: #262930;
  border-radius: 6px;
  border: 2px inset #505c7c67;
  color: var(--bs-body-color);
}

/* css carte.js */
#carte {
  width: 30vw;
  height: 58vh;
  border-radius: 5px;
  overflow: hidden;
}
